In [1]:
import pandas as pd
df = pd.read_csv("HousingData.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [3]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
df.shape

(506, 14)

In [5]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [6]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
df['LSTAT'].value_counts()

7.79     3
6.36     3
8.05     3
14.10    3
18.13    3
        ..
3.32     1
1.92     1
1.73     1
6.43     1
7.88     1
Name: LSTAT, Length: 438, dtype: int64

In [8]:
df['CRIM'].fillna(df['CRIM'].mean(), inplace=True)
df['ZN'].fillna(0, inplace=True)
df['INDUS'].fillna(df['INDUS'].mean(), inplace=True)
df['CHAS'].fillna(0, inplace=True)
df['AGE'].fillna(df['AGE'].mean(), inplace=True)
df['LSTAT'].fillna(df['LSTAT'].mean(), inplace=True)

In [9]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [10]:
X = df.drop('MEDV', axis=1)
Y = df['MEDV']

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
model = Sequential()
model.add(Dense(13, activation='relu' ))
model.add(Dense(16, activation='relu' ))
model.add(Dense(32, activation='relu' ))
model.add(Dense(16, activation='relu' ))
model.add(Dense(1, activation='linear' ))
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(x_train, y_train, epochs=50)

Epoch 1/50
13/13 [==============================] - 1s 3ms/step - loss: 274.6192
Epoch 2/50
13/13 [==============================] - 0s 2ms/step - loss: 107.6305
Epoch 3/50
13/13 [==============================] - 0s 2ms/step - loss: 87.8304
Epoch 4/50
13/13 [==============================] - 0s 2ms/step - loss: 81.6217
Epoch 5/50
13/13 [==============================] - 0s 2ms/step - loss: 79.1570
Epoch 6/50
13/13 [==============================] - 0s 2ms/step - loss: 78.2840
Epoch 7/50
13/13 [==============================] - 0s 2ms/step - loss: 76.7823
Epoch 8/50
13/13 [==============================] - 0s 2ms/step - loss: 75.9009
Epoch 9/50
13/13 [==============================] - 0s 2ms/step - loss: 75.1207
Epoch 10/50
13/13 [==============================] - 0s 2ms/step - loss: 73.0034
Epoch 11/50
13/13 [==============================] - 0s 2ms/step - loss: 72.2142
Epoch 12/50
13/13 [==============================] - 0s 2ms/step - loss: 71.2472
Epoch 13/50
13/13 [==============================] - 0s 3ms/step - loss: 70.4589
Epoch 14/50
13/13 [==============================] - 0s 3ms/step - loss: 70.4313
Epoch 15/50
13/13 [==============================] - 0s 2ms/step - loss: 73.6330
Epoch 16/50
13/13 [==============================] - 0s 2ms/step - loss: 69.0426
Epoch 17/50
13/13 [==============================] - 0s 3ms/step - loss: 68.0320
Epoch 18/50
13/13 [==============================] - 0s 3ms/step - loss: 67.0784
Epoch 19/50
13/13 [==============================] - 0s 2ms/step - loss: 67.6975
Epoch 20/50
13/13 [==============================] - 0s 2ms/step - loss: 66.0449
Epoch 21/50
13/13 [==============================] - 0s 2ms/step - loss: 64.7986
Epoch 22/50
13/13 [==============================] - 0s 3ms/step - loss: 65.4606
Epoch 23/50
13/13 [==============================] - 0s 2ms/step - loss: 66.5205
Epoch 24/50
13/13 [==============================] - 0s 2ms/step - loss: 63.6320
Epoch 25/50
13/13 [==============================] - 0s 3ms/step - loss: 63.9708
Epoch 26/50
13/13 [==============================] - 0s 3ms/step - loss: 62.8376
Epoch 27/50
13/13 [==============================] - 0s 2ms/step - loss: 61.4002
Epoch 28/50
13/13 [==============================] - 0s 2ms/step - loss: 61.6045
Epoch 29/50
13/13 [==============================] - 0s 2ms/step - loss: 61.8885
Epoch 30/50
13/13 [==============================] - 0s 2ms/step - loss: 61.4292
Epoch 31/50
13/13 [==============================] - 0s 2ms/step - loss: 60.3355
Epoch 32/50
13/13 [==============================] - 0s 2ms/step - loss: 59.5782
Epoch 33/50
13/13 [==============================] - 0s 2ms/step - loss: 58.8415
Epoch 34/50
13/13 [==============================] - 0s 2ms/step - loss: 59.3456
Epoch 35/50
13/13 [==============================] - 0s 3ms/step - loss: 57.8564
Epoch 36/50
13/13 [==============================] - 0s 3ms/step - loss: 58.2188
Epoch 37/50
13/13 [==============================] - 0s 3ms/step - loss: 58.0187
Epoch 38/50
13/13 [==============================] - 0s 3ms/step - loss: 57.1907
Epoch 39/50
13/13 [==============================] - 0s 2ms/step - loss: 56.1939
Epoch 40/50
13/13 [==============================] - 0s 2ms/step - loss: 56.7331
Epoch 41/50
13/13 [==============================] - 0s 3ms/step - loss: 57.3817
Epoch 42/50
13/13 [==============================] - 0s 2ms/step - loss: 57.1275
Epoch 43/50
13/13 [==============================] - 0s 2ms/step - loss: 55.3685
Epoch 44/50
13/13 [==============================] - 0s 2ms/step - loss: 54.7308
Epoch 45/50
13/13 [==============================] - 0s 2ms/step - loss: 54.1641
Epoch 46/50
13/13 [==============================] - 0s 2ms/step - loss: 54.1094
Epoch 47/50
13/13 [==============================] - 0s 3ms/step - loss: 53.1879
Epoch 48/50
13/13 [==============================] - 0s 2ms/step - loss: 52.5001
Epoch 49/50
13/13 [==============================] - 0s 2ms/step - loss: 54.6970
Epoch 50/50
13/13 [==============================] - 0s 2ms/step - loss: 52.8640

In [17]:
x = model.evaluate(x_test, y_test)
print("Accuracy :",x)

4/4 [==============================] - 0s 5ms/step - loss: 42.2672
Accuracy : 42.26722717285156

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 13)                182

 dense_1 (Dense)             (None, 16)                224

 dense_2 (Dense)             (None, 32)                544

 dense_3 (Dense)             (None, 16)                528

 dense_4 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,495
Trainable params: 1,495
Non-trainable params: 0
_________________________________________________________________